.App {
  background-color: #e9f7ef;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 200;
  color: #145a32;
}

.book-view {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 1rem 2rem;
}