.search {
    margin-top: 3rem;
    margin-bottom: 4rem;
}

.book-search {
    margin-left: 1rem;
    padding: .5rem;
    width: 15rem;
    border: 2px solid transparent;
    outline: 1px solid #CD174F;
    font-family: inherit;
    color: #CD174F;
    background-color: #e9f7ef;
}

.book-search:focus,
.book-search:focus {
    outline: none;
    border: 2px solid #CD174F;
}

.reset-button {
    width: 7rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1.75rem;
    padding: .75rem;
    font-family: inherit;
    color: #e9f7ef;
    background-color: #CD174F;
    border: none;
    cursor: pointer;
}